
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700');

body {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: inherit;
}

.main {
  width: 700px;
  max-width: 700px;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  min-height: 100vh;
  padding-bottom: 100px;
}

.main-title {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.nav {
  margin: 30px 0;
}

.nav__list {
  margin: 0;
  padding: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  padding : 12px 20px;
  background-color: #262e50;
  border-radius: 3px;
  color: #eee;
}

.users {
  padding: 20px;
}

.users__button {
  border: 0;
  background-color: #eee;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  padding: 5px 0;
  cursor: pointer;
}

.users__button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height : 1px;
  background-color: #262e50;
  transition : .5s;
}
.users__button:hover:after {
  width: 100%;
}

.users.activ .users__list {
  display: flex;
}

.users__list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: none;
  justify-content: flex-start;
}

.users__item {
  text-decoration: underline;
  padding: 0 10px;
}

.tri {
  padding : 20px;
}

.tri #form {
  display: flex;
  align-items: center;
}

.tri #form div:nth-child(1) select {
  margin-left: 20px;
}

.tri #form div:nth-child(2) {
  margin-left: 30px;
}
.tri #form div:nth-child(2) button {
  border: 0;
  background-color: #d0d0d0;
  padding: 5px 10px;
  border-radius: 3px;
}

.tasks {
  margin-top: 20px;
}

.tasks__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tasks__item {
  padding: 20px;
  background-color: #d0d0d0;
  display: flex;
  justify-content: space-between;
  border-top : 2px solid #262e50;
}

.tasks__content {
  color : #262e50;
}

.tasks__title {
  margin-top: 0;
}
.tasks__name {
  font-weight: bold;
}

.tasks__done {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
}

.tasks__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tasks__button {
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #eee;
  color : #262e50;
  text-align: center;
  margin: 10px 0;
}

.form-task {
  padding: 20px;
}
.form-user {
  padding : 20px;
}

.form-user form #user, .form-user #form {
  display: flex;
  align-items: center;
}

.form-user form #user div:nth-child(1) input, .form-user #form div:nth-child(1) input {
  margin-left: 20px;
}

#user {
  width: 100%;
}

.form-user form #user div:nth-child(2), .form-user #form div:nth-child(2) {
  margin-left: 30px;
}
.form-user form #user div:nth-child(2) button, .form-user #form div:nth-child(2) button {
  border: 0;
  background-color: #d0d0d0;
  padding: 5px 10px;
  border-radius: 3px;
}