<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}" />
    </head>
    <body>
        <main class="main">
            <h1 class="main-title">TODOLIST</h1>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </main>
    </body>
</html>
