{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<a href="{{ path('newTask') }}">Ajouter une tâche</a>
{% for task in tasks %}
	<div>
		<p>{{ task.title }}</p>
	</div>
{% endfor %}

{% endblock %}
