{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<a href="{{ path('newTask') }}">Ajouter une tâche</a>
{% for task in tasks %}
	<div>
		<p>{{ task.title }}</p>
		<p>{{ task.content }}</p>

		{% if( task.done == 0) %}
			<b>Tache non réalisée </b>
		{% else %}
			<b>Tache réalisée </b>
		{% endif %}
	{{ task.user.getName() }}
	</div>
{% endfor %}

{% endblock %}
