{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% for user in users %}
        <div>
            <p>{{ user.name }}</p>
        </div>
    {% endfor %}

{% endblock %}
